main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  margin-bottom: 64px;
}

main > h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #8fa7b3;
  margin: 40px 0;
}

main .container {
  width: 708px;
  padding: 64px 80px 80px 80px;
  left: 414px;
  top: 108px;
  background: #ffffff;
  border: 1px solid #d3e2e5;
  box-sizing: border-box;
  border-radius: 20px;
}

.card + .card {
  margin-top: 32px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(149.97deg, #e6f7fb 8.13%, #ffffff 92.67%);
  border: 1px solid #b3dae2;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 16px;
}

.card > div {
  display: inline-block;
}

.img-dog {
  width: 94px;
  height: 94px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.card p {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #5c8599;
  margin: 0;
}

.card h3 {
  font-size: 14px;
  line-height: 22px;
  color: #8fa7b3;
  margin: 0;
}

.card button {
  padding: 10px 20px;
  background: #37c77f;
  border-radius: 20px;
  border: 0;
  color: #ffffff;
}

.card .content {
  margin-left: 16px;
}
