menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 64px);
    height: 96px;
    background-color: #15c3d6;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 32px;
  }
  
  menu > h1 {
    font-size: 40px;
    line-height: 42px;
    color: #ffffff;
  }
  
  menu > div {
    margin-right: 8px;
  }
  
  menu button {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background-color: transparent;
    padding: 10px 16px;
    margin: 0 8px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
  }

.main_login {
  padding-top: 0 !important;
}
  
  main > h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #8fa7b3;
    margin: 40px 0;
  }

body {
    background-color: #ebf2f5;
    margin: 0;
    font-family: liberation-sans;
}

form {
  width: 700px;
  margin: auto;
  margin-top: 30px;
}

.login_form {
    width: 700px;
    margin: auto;
    margin-top: 80px;
}

.window {
    background-color: #ffffff;
    padding: 50px 80px;
    border-radius: 20px;
    border: 1px solid #d3e2e5;
}

@font-face {
    font-family: liberation-sans;
    src: url(fonts/LiberationSans-Regular.ttf);
}

.window_head {
    color: #d4d4d4;
}

.liberation-sans {
    font-family: liberation-sans;
    color: #4d6f80;
}

.credential {
    margin-top: 24px;
}

.credential > label {
    color: #8fa7b3;
    font-family: liberation-sans;
    display: block;
    font-size: 16px;
    line-height: 22px;
}

.credential > input {
    font-family: liberation-sans;
    width: 100%;
    height: 64px;
    background: #f5f8fa;
    border: 1px solid #d3e2e5;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0;
    font-size: 20px;
}

/* The following seven lines were extracted from https://selleo.com/til/posts/xhgzlfgcql-a-way-to-make-autofilled-inputs-background-transparent */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #4d6f80 !important;
}

.credential > button {
    margin-top: 0;
    width: 100%;
    height: 64px;
    background-color: #37c77f;
    border-radius: 20px;
    color: #d4d4d4;
    font-family: liberation-sans;
    text-align: center;
    color: #ffffff;
    border: 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
}

menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 64px);
    height: 96px;
    background-color: #15c3d6;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 32px;
  }
  
  menu > h1 {
    font-size: 40px;
    line-height: 42px;
    color: #ffffff;
  }
  
  menu > div {
    margin-right: 8px;
  }
  
  menu button {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background-color: transparent;
    padding: 10px 16px;
    margin: 0 8px;
  }